// Litera 5.2.0 -- This is a copy of node_modules/bootswatch/dist/litera/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.

$theme: "litera" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #4582ec !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #fd7e14 !default;
$yellow:  #f0ad4e !default;
$green:   #02b875 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       #2B70E9; // $blue !default;
$secondary:     #717684; // $gray-500 !default;
$success:       #028857; // $green !default;
$info:          #147F90; // $cyan !default;
$warning:       #A5660D; // $yellow !default;
$danger:        #D4403A; // $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$green-300: tint-color($green, 40%) !default;
$red-300: tint-color($red, 40%) !default;

$body-color: $gray-800;

// Options
// Prefix
$prefix: bs-;

// Links
$link-color: #2B70E9;

// Typography
$link-shade-percentage:                   20% !default; // Bootstrap 5.3

// Components
$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

// Tables

// Buttons

// Forms

$input-border-color:                    var(--#{$prefix}border-color) !default; // rgba(0, 0, 0, .1) !default;
$input-group-addon-bg:                  var(--#{$prefix}tertiary-bg) !default; // $gray-200 !default;

// Navbar

$navbar-dark-color:                 rgba($white, .6) !default;
$navbar-dark-hover-color:           $white !default;
$navbar-light-hover-color:          $body-color !default;
$navbar-light-active-color:         $body-color !default;

// Tooltips

// Badges

// Alerts

// Code
$code-color:                     $body-color; //    $pink !default; // Bootstrap 5.3

//--------------------------- Tiki SCSS variables
