// Custom variables for the Lemon theme option of the FiveAlive and FiveAlive-lite themes

// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //
// Color system

// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "black":      $black,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
) !default;
// scss-docs-end colors-map

$white:    #fff;
$black:    #000;
$light: #f9a013;
$dark: #6D5509; // arbitrary

$red-300: tint-color($red, 40%) !default;
$green-300: tint-color($green, 40%) !default;

$theme-colors: (
    "primary":           #F0D800, // #ffc805,
    "secondary":         #ffc805, //#ffe405, // #c85a28,
    "success":             #5cb85c,
    "info":               #f5821e,
    "warning":             #f0ad4e,
    "danger":           #D63D00, //   #ff5c1a,
    "light":            #ffffff,
    "dark":                #6D5509
);

$primary:       #F0D800; // #ffc805;
$secondary:     #ffc805; // #ffe405; //#c85a28;
$success:       #5cb85c;
$info:          #f5821e;
$warning:       #f0ad4e;
$danger:        #D63D00; //#ff5c1a;
$light:         #ffffff;
$dark:          #cb9e10;

$theme-colors: map-merge(
        (
            "primary":    $primary,
            "secondary":  $secondary,
            "success":    $success,
            "info":       $info,
            "warning":    $warning,
            "danger":     $danger,
            "light":      $light,
            "dark":       $dark
        ),
        $theme-colors
);

// The following are default values from node_modules/bootstrap/scss/variables.scss - change as needed for theme child option (or to match values in parent theme).
// Comment-out any that are already defined in the parent theme variables.scss file and shouldn't be redefined.

$color-contrast-dark:             $gray-900 !default;
$color-contrast-light:            $white !default;
$enable-gradients:          false;

// Options

// Prefix
$prefix: bs-;


$body-bg:                   $white !default;
$body-color: #212529;

$bg-light: #f9a013 !important;

$link-color: #BB5525; //#c75a28;
$link-hover-color:               darken($link-color, 15%);
$link-shade-percentage:                   20% !default;

// Navs
$nav-tabs-link-color: #000;
$nav-tabs-link-bg: #fdf1d0; // Same as input-bg
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: #b25025; // same as $dropdown-link-hover-bg;

// Navbars
$top-bg: #e4af00;
$top-color: #000;
$top-link-color: #000;
$top-link-hover-color: #5c5c5c;

$topbar-bg: #cb9e10;
$bg-dark-info: #fff;
$navbar-fixed-top-bg: #e4af00;
$page-header-link-color: #000;
$topbar-link-color: #000;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
//$bg-dark-link-hover-bg: #638637;

// Dropdowns
$dropdown-dark-link-hover-bg:       rgba($white, .15) !default;

// Typography
$hr-color: #ffc506;
$text-muted:  var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 -- #6B737B;

// Cards
$card-border-color: #e4af00;

// Tables
$table-border-color: #a99628;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$component-active-bg: $card-border-color; // From Grape

// Forms
$input-color: var(--#{$prefix}body-color) !default; // #555555;
$input-bg: var(--#{$prefix}body-bg) !default; // #fdf1d0;
$input-border-color: var(--#{$prefix}border-color) !default; // #fee194;
$input-border-top-color: #ceb688;
$input-border-right-color: #fff;
$input-border-bottom-color: #fff;
$input-border-left-color: #ceb688;

// Form validation

// Dropdowns
$dropdown-bg: #f0e04f;
$dropdown-border-color: rgba(0, 0, 0, 0.15);
$dropdown-link-color: #000;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #b25025;
$dropdown-link-active-color: #000;
$dropdown-link-active-bg: #c75a28;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #000;
$dropdown-divider-bg: $dropdown-bg;

$dropdown-dark-color: #000;
$dropdown-dark-bg: $dropdown-bg;

// Pagination
$nav-pills-link-active-bg: #B35123;
$pagination-color: #c75a28;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #f9a013;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #c75a28;
$pagination-active-border-color: #c75a28;
$pagination-disabled-color: $text-muted; // #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

// Code
$code-color:                        $body-color; // $pink !default;


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

// Aug 18 2022 start
$top-bg: #cb9e10; // Used for $post-card-header-bg and .postbody-title
$top-color: #413B06;
$top-link-color: #413B06;
$top-link-hover-color: lighten($top-link-color,10%);
//$topbar-bg: #063035;

$top-dark-bg: #e4af00;
$top-dark-color: #413B06;
$topbar-dark-bg: #cb9e10; // $topbar-light-bg;
$topbar-dark-color: #000;

$top-light-bg: $top-dark-bg;
$top-light-color: $top-dark-color;
$topbar-light-bg: $topbar-dark-bg;
$topbar-light-color: $topbar-dark-color;

$navbar-light-link-color: $top-light-color;
$navbar-light-link-hover-color: #f2f2f2;
$navbar-light-link-hover-bg: #003c4a;

$navbar-dark-link-color: $top-light-color;
$navbar-dark-link-hover-color: #f2f2f2;
$navbar-dark-link-hover-color: $navbar-light-link-hover-color;
//$navbar-light-link-hover-bg: #003c4a;
// Aug 18 2022 revamp end
// Dropdowns
$dropdown-dark-link-hover-bg:       rgba($white, .15) !default;

$side-column-heading-color: #8F6D00;

$middle_outer-inset-shadow-bg: #2c1c04;
$footer_liner-card-inner-border: #ffc506;

$footer-accent-color: #ffc506;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

//$autotoc-nav-bg: #c75a29;
//$autotoc-color: #ffffff;
//$autotoc-nav-li-link-hover-color: #f2f2f2;
//$autotoc-nav-li-link-hover-bg: #b25025;

//$autotoc-nav-bg: #ffffff;
//$autotoc-nav-border: #ffc506;
//$autotoc-color: #c75a28;
//$autotoc-nav-li-link-hover-color: #f2f2f2;
//$autotoc-nav-li-link-hover-bg: #b25025;

// These variables need to be defined for the files to compile. The specific variables for the child theme's button colors are defined
// at the bottom of the file but by default they use the child theme's theme-colors. There appears to be redundancy in defining colors but each line is necessary.
// There are unique names for the child theme button colors to avoid any conflict with the general theme colors.

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$enable-gradients:               false;
$enable-shadows:              false;
$input-btn-focus-width:       .2rem !default;
$btn-focus-width:             $input-btn-focus-width !default;
$btn-link-disabled-color:     $gray-600 !default;

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
.tiki .tiki-top-nav-light {
    --tiki-top-bg: #E7E6AD;
    --tiki-top-color: #{$top-link-color};
    --tiki-top-hover-color: #{$top-link-hover-color};
    --tiki-top-text-color: #{$top-link-hover-color};
    --tiki-top-border: solid #000;
}

.tiki .tiki-topbar-nav-light {
    --tiki-topbar-bg: #f0e04f;
    --tiki-topbar-color: #{$top-light-color}; // #{$topbar-light-color};
    --tiki-topbar-hover-color: #{$top-link-hover-color};
    --tiki-topbar-text-color: #{$top-link-hover-color};
}

.tiki .tiki-top-nav-dark {
    --tiki-top-bg: #E7E6AD;
    --tiki-top-color: #000; // {$navbar-dark-link-color};
    --tiki-top-hover-color: #{$top-link-hover-color};
    --tiki-top-text-color: #{$top-link-hover-color};
    --tiki-top-border: solid #000;
}

.tiki .tiki-topbar-nav-dark {
    --tiki-topbar-bg:  #f0e04f;
    --tiki-topbar-color: #000; //#{$navbar-dark-link-color};
    --tiki-topbar-hover-color: #{$top-link-hover-color};
    --tiki-topbar-text-color: #{$top-link-hover-color};
}

.tiki-nav-top-light, .tiki-nav-top-dark {
    --tiki-top-border-width: 0 0 5px 0;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-top-nav-color: #{$top-link-color};
    --tiki-admin-top-nav-hover-color: #{$top-link-hover-color};
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #E7E6AD;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$link-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: #E7E6AD;
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: #000;
    --tiki-admin-top-nav-hover-color: #{$top-link-hover-color};
    --tiki-admin-top-nav-hover-bg: none;
    --tiki-admin-aside-nav-bg: #E7E6AD;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #000;
    --tiki-admin-dropdown-bg: #f0e04f;
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: #E7E6AD;
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.accordion {
    --bs-accordion-active-bg: #f0e04f;
    --bs-accordion-active-color: #000;
    --bs-accordion-btn-bg:  #E7E6AD;
}