// Sandstone 5.3.3 -- This file contains variables that override or are in addition to those in node_modules/bootswatch/dist/sandstone/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f8f5f0 !default;
$gray-300: #dfd7ca !default;
$gray-400: #ced4da !default;
$gray-500: #98978b !default;
$gray-600: #8e8c84 !default;
$gray-700: #495057 !default;
$gray-800: #3e3f3a !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #325d88 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f47c3c !default;
$yellow:  #ffc107 !default;
$green:   #93c54b !default;
$teal:    #20c997 !default;
$cyan:    #29abe0 !default;

$primary:       $blue !default;
$secondary:     #77766E; // $gray-600 !default;
$success:       #5B7F29; // $green !default;
$info:          #187DA5; // $cyan !default;
$warning:       #CA4F0C; // $orange !default;
$danger:        #D4403A; // $red !default;
$light:         $gray-200 !default;
$dark:          $gray-800 !default;

$green-300: tint-color($green, 40%) !default;
$red-300: tint-color($red, 40%) !default;

// Options
//Prefix
$prefix: bs-;

// Components

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

// Body

$body-color:                $gray-800 !default;

// Links
$link-color:                #5B7F29; //$success !default;
$link-shade-percentage:                   20% !default; // Bootstrap 5.3
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      system-ui, sans-serif; // Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Dropdowns

// Navs

$nav-link-color:                    var(--#{$prefix}link-color) !default;
$nav-link-hover-color:              var(--#{$prefix}link-hover-color) !default;

$nav-link-disabled-color:           var(--#{$prefix}secondary-color) !default; // $gray-300 !default;

// Navbar

$navbar-dark-hover-color:           $white !default;
$navbar-light-hover-color:          $black !default;
$navbar-light-active-color:         $black !default;

// Pagination

// Cards

// Popovers

// Modals

// Progress bars

// List group

// Breadcrumbs

// Close

// Code
$code-color:                        $pink !default; // Bootstrap 5.3

//--------------------------- Tiki SCSS variables

// Bootswatch overrides

$web-font-path: none; // Override value in vendor file

