//  Compile to produce
/* strasa.css, the Strasa theme for Tiki Wiki CMS Groupware */

// @import url("//fonts.googleapis.com/css?family=Simonetta"); - Web font switched to system fonts

@import "../../base_files/scss/_tiki-bootstrap_functions"; // 1. Functions are included first (so colors, etc. can be manipulated).

@import "../scss/variables"; // 2. The first value declaration (the theme's) is used when it is declared in more than one imported file.
@import "../../default/scss/variables"; // 3. Adds default variables for any not declared by the theme variables file.
@import "../scss/variables-dark"; // 4. Values of dark variables if color modes are enabled.
@import "../../default/scss/variables-dark"; // 5. Adds default dark variables for any not declared by the theme dark variables file.
@import "../scss/css-variables"; // 6. Imported after default CSS variables to override them.
@import "../../base_files/scss/_tiki-variables.scss"; // 7. Default value declarations for Tiki variables (in addition to Bootstrap variables) such as in _tiki-selectors.scss.

@import "../../base_files/scss/_tiki-bootstrap_layout_and_components"; // 8. Remainder of required Bootstrap parts.
@import "../../base_files/scss/_tiki-selectors.scss"; // 9. Tiki CSS selectors used globally.
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // 10. Optionally imported to group (separately) the top and topbar zone components for styling.
@import "../scss/_tiki-selectors.scss"; // 11. Tiki CSS selectors, including those of external scripts, to be styled by the theme's variables.

// override for converseJS chatbox background colors
.tiki #conversejs, .tiki #conversejs.converse-embedded {
    #controlbox {
        .box-flyout { background-color: #fff; }
    }

    .chatbox {
        .box-flyout {
            background-color: #fff;
        }
    }
}

// override for some cypht background colors
body.tiki.tiki-webmail {
    background: #214d68 url('#{$imagePath}body-bg_fw.png') repeat-x;
}

// override for jQuery-UI colors
.tiki .ui-widget-header {
    color: #fff;
}

.tiki .ui-state-default,
.tiki .ui-widget-content .ui-state-default,
.tiki .ui-widget-header .ui-state-default,
.tiki .ui-button,
.tiki html .ui-button.ui-state-disabled:hover,
.tiki html .ui-button.ui-state-disabled:active {
    color: #069;
    background: #dee2e6
}

.tiki .ui-state-active,
.tiki .ui-widget-content .ui-state-active,
.tiki .ui-widget-header .ui-state-active,
.tiki a.ui-button:active,
.tiki .ui-button:active,
.tiki .ui-button.ui-state-active:hover {
    color: #069;
    background: #fff;
}
