//--------------------------- Tiki CSS variables

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.

// Used for L&F nav color choice and color mode override
@mixin top-nav-dark {
    --tiki-top-bg: #{$dark};
    --tiki-top-color: rgba(255, 255, 255, 0.55);
    --tiki-top-hover-color: #{$white};
    --tiki-top-text-color: #{$white};
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: #3D4549; //#{$dark};
    --tiki-topbar-color: rgba(255, 255, 255, 0.55);
    --tiki-topbar-hover-color: #{$white};
    --tiki-topbar-text-color: #{$white};
}

.tiki-top-nav-light {
    --tiki-top-bg: #{$light};
    --tiki-top-color: #{$blue};
    --tiki-top-hover-color: #{lighten($blue, 10%)};
    --tiki-top-text-color: #{lighten($blue, 10%)};
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: #f7f7f7; //#{$light};
    --tiki-topbar-color: #{$blue};
    --tiki-topbar-hover-color: #{lighten($blue, 10%)};
    --tiki-topbar-text-color: #{lighten($blue, 10%)};
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
    --tiki-admin-navbar-bg: #f7f7f7;
    --tiki-admin-top-nav-color: #{$blue};
    --tiki-admin-top-nav-hover-color: #{lighten($blue, 10%)};
    --tiki-admin-top-nav-hover-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-aside-nav-bg: #f7f7f7;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-bg: #{$light};
    --tiki-admin-dropdown-link-color: var(--bs-dropdown-color);
    --tiki-admin-dropdown-link-hover-color: #{lighten($blue, 10%)};
    --tiki-admin-dropdown-link-hover-bg:  var(--bs-dropdown-hover-bg);
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: #f7f7f7;
}

// Dark navbar minus top nav
@mixin admin-nav-dark {
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.55);
    --tiki-admin-top-nav-hover-color: #{$white};
    --tiki-admin-top-nav-hover-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-aside-nav-bg: #{$dark};
    --tiki-admin-aside-nav-color: rgba(255, 255, 255, 0.55);
    --tiki-admin-aside-nav-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-color: rgba(255, 255, 255, 0.55);;
    --tiki-admin-dropdown-bg: #4d5154;
    --tiki-admin-dropdown-link-hover-color: #{$white};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    .accordion-item {
        border-width: 0 !important;
    }
    .accordion-item.search-preferences,
    button.was-nav-link.accordion-button {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
    .accordion-button::after {
        background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2366bad6'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}

// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: #{$dark};
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // light values
    }
}

[data-bs-theme="dark"] {
    #col1, #col3 {
        background: #212529;
    }
}
