/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information:
 * bootswatch v5.3.3
 * Homepage: http://bootswatch.com
 * Copyright 2012-2022 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
*/

@import "../../base_files/scss/_tiki-bootstrap_functions"; // 1. Functions are included first (so colors, etc. can be manipulated).

@import "../scss/variables"; // 2. The first value declaration (the theme's) is used when it is declared in more than one imported file.
@import "../scss/variables-dark"; // 3. Values of dark variables if color modes are enabled.
@import "../../../node_modules/bootswatch/dist/sketchy/variables"; // 4. Default Bootswatch theme variables.
@import "../../default/scss/variables"; // 5. Adds default variables for any not declared by the theme variables file.
@import "../../default/scss/variables-dark"; // 6. Adds default dark variables for any not declared by the theme dark variables file.
@import "../scss/css-variables"; // 7. Imported after default CSS variables to override them.
@import "../../base_files/scss/_tiki-variables.scss"; // 8. Default value declarations for Tiki variables (in addition to Bootstrap variables) such as in _tiki-selectors.scss.

@import "../../base_files/scss/_tiki-bootstrap_layout_and_components"; // 9. Remainder of required Bootstrap parts.
@import "../../../node_modules/bootswatch/dist/sketchy/bootswatch"; // 10. Bootswatch theme selectors
@import "../../base_files/scss/_tiki-selectors.scss"; // 11. Tiki CSS selectors used globally.
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // 12. Optionally imported to group (separately) the top and topbar zone components for styling.
//@import "../scss/_tiki-selectors.scss"; // 11. Tiki CSS selectors, including those of external scripts, to be styled by the theme's variables.


// fix position and appearance of outline of checkbox/radio buttons
[type="checkbox"], [type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

[type="checkbox"].form-check-input {
    &:before { position: static; }
    &:after { top: 0.1em; left: 0.15em; }
}

.form-check-inline {
    [type="checkbox"].form-check-input {
        &:before { position: absolute; top: -0.4em; left: 0; }
        &:after { top: -0.15em; left: 0.15em; }
    }
}

.table-responsive .table {
    tr th {
        [type="checkbox"].form-check-input {
            &:before { position: absolute; top: 0; left: -0.6em; }
            &:after { top: 0.15em; left: -0.24em; }
        }
    }
    tr td {
        [type="checkbox"].form-check-input {
            &:before { position: absolute; }
            &:after { top: -0.48em; left: -0.66em; }
        }
    }
}

.dropdown-item:hover a { background-color: #333; color: #fff; }
.autotoc .nav {
    &, & .nav {
        > li > a:hover { background-color: #333; color: #fff; }
    }
}

// Increase navbar height to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
// Make links visible in dark mode
#col2 .navbar {
    background: transparent;
    .nav-link {
        color: var(--tiki-vert-nav-link-color);
        &:hover {
            color: var(--tiki-vert-nav-link-hover-color);
        }
    }
}
